<header>
  <div class="header-title">
    <h1 [routerLink]="['/']">課題管理アプリ</h1>
    <div class="menu-wrapper">
      <span class="menu-trigger" (click)="toggleMenu($event)">≡</span>
      <!-- <div class="menu" *ngIf="isMenuOpen" > -->
      <div class="menu" *ngIf="openedMenu() === 'header'" >
        <div class="menu-item" (click)="loading === 'idle' && goToMypage()">マイページ</div>
        <div class="menu-item" (click)="loading === 'idle' && signout()">ログアウト</div>
        <div class="menu-item" (click)="loading === 'idle' && deleteUser()">退会</div>
        </div>
      </div>
    </div>
    <div *ngIf="loading === 'deleting'" class="loading-overlay">
      <div class="loading">アカウントを削除しています...</div>
    </div>
    <div *ngIf="loading === 'signout'" class="loading-overlay">
      <div class="loading">ログアウトしています...</div>
    </div>
</header>