header {
    width: 350px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.delete-button {
    cursor: pointer;
    font-size: 16px;
}

body {
    min-height: 100vh;
    margin: 0;                  
}

div{
    max-width: 350px;
    margin: 0 auto;

}

form {
    max-width: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button[type="button"] {
    cursor: pointer;
    margin-left: 220px;
}

button[type="submit"] {
    cursor: pointer;
}

input[type="text"] {
    height: 30px;
    margin-bottom: 10px;
    font-size: 14px;
}