body {
    min-height: 100vh;          /* 画面の高さを使う */
    margin: 0;                  
}

div{
    max-width: 350px;
    margin: 0 auto;

}

form {
    max-width: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button[type="button"] {
    /* background-color: #e4e3e3 ;
    border: none;
    border-radius: 5px;
    padding: 5px; */
    cursor: pointer;
    margin-left: 220px;
}

button[type="submit"] {
    cursor: pointer;
}

input[type="text"] {
    height: 30px;
    margin-bottom: 10px;
    font-size: 14px;
}

.loading-overlay {
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.loading {
    padding: 24px 32px;
    background: white;
    border-radius: 12px;
    font-size: 18px;
}