<header>
</header>
<body>
<div class="project-create-container">
  <form [formGroup]="project_create_form" (ngSubmit)="createProject()" autocomplete="off">
    <label>プロジェクト名</label>
    <input type="text" placeholder="30文字以内" formControlName="name">
    <label>合言葉</label>
    <input type="text" placeholder="4文字以上15文字以内" formControlName="phrase">
    <div class="button-container">
    <button type="submit" [disabled]="project_create_form.invalid || loading">作成</button>
    <button type="button" (click)="onCancel()" [disabled]="loading">キャンセル</button>
    </div>
  </form>
</div>
<div *ngIf="loading" class="loading-overlay">
  <div class="loading">プロジェクトを作成しています...</div>
</div>
</body>