<h1>新規登録</h1>

<span class="signin-link">
ログインは<a [routerLink]="['/signin']">こちら</a>
</span>

<form [formGroup]="signupForm" (ngSubmit)="signup()">

  <label>ユーザー名</label>
  <input type="text" placeholder="30文字以内" formControlName="username">
  <div *ngIf="username.touched && username.errors">
    <div *ngIf="username.errors?.['required']">
      ユーザー名は1文字以上入力してください（空白のみは不可）
    </div>
    <div *ngIf="!username.errors?.['required'] && username.errors?.['maxlength']">
      30文字以内で入力してください
    </div>
  </div>

  <label>メールアドレス</label>
  <input type="email" placeholder="@gmail.com等" formControlName="email">
  <div *ngIf="email.touched && email.errors">
    <div *ngIf="email.errors?.['required']">
      必須項目です
    </div>
    <div *ngIf="!email.errors?.['required'] && email.errors?.['email']">
      正しいメール形式で入力してください
    </div>
    <div *ngIf="email.errors?.['whitespace']">
      空白は認められません
    </div>
  </div>

  <label>パスワード</label>
  <input type="password" placeholder="8文字以上32文字以内" formControlName="password">
  <div *ngIf="password.touched && password.errors">
    <div *ngIf="password.errors?.['required']">
      必須項目です
    </div>
    <div *ngIf="!password.errors?.['required'] && password.errors?.['minlength']">
      パスワードは8文字以上です
    </div>
    <div *ngIf="!password.errors?.['required'] && password.errors?.['maxlength']">
      パスワードは32文字以内です
    </div>
    <div *ngIf="password.errors?.['whitespace']">
      空白は認められません
    </div>
  </div>

  <label>確認用パスワード</label>
  <input type="password" placeholder="8文字以上32文字以内" formControlName="confirmPassword">
  <div *ngIf="confirmPassword.touched && confirmPassword.errors">
    <div *ngIf="confirmPassword.errors?.['required']">
      必須項目です
    </div>
    <div *ngIf="signupForm.hasError('passwordMismatch') && signupForm.get('confirmPassword')?.dirty">
      パスワードが一致しません
    </div>
  </div>

  <button type="submit" [disabled]="signupForm.invalid">
    登録
  </button>

  <div *ngIf="loading === 'loading'">
    <div class="loading">新規登録中...</div>
  </div>
  <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>

</form>