body {
    min-height: 100vh;
    /* display: flex;
    align-items: center;  */
    margin: 0;                  
}

div{
    width: 100%;
    margin: 0 auto;

}

form {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.profile-container {
    margin-top: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

textarea {
    height: 120px;
    margin-bottom: 10px;
    font-size: 16px;
}

button[type="button"] {
    cursor: pointer;
    margin-left: 90px;
    font-size: 16px;
}

button[type="submit"] {
    padding: 5px;
    cursor: pointer;
}

input[type="text"] {
    height: 30px;
    margin-bottom: 10px;
    font-size: 16px;
}

.loading-overlay {
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.loading {
    padding: 24px 32px;
    background: white;
    border-radius: 12px;
    font-size: 18px;
}