header {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.delete-button {
    cursor: pointer;
    font-size: 16px;
}

body {
    min-height: 100vh;
    /* display: flex;
    align-items: center;  */
    margin: 0;                  
}

div{
    width: 100%;
    margin: 0 auto;

}

form {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

textarea {
    height: 120px;
    margin-bottom: 10px;
    font-size: 16px;
}

button[type="button"] {
    cursor: pointer;
    margin-left: 90px;
    font-size: 16px;
}

button[type="submit"] {
    padding: 5px;
    cursor: pointer;
}

input[type="text"] {
    height: 30px;
    margin-bottom: 10px;
    font-size: 16px;
}